{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="container my-3">
        <div class="row">
            <div class="col-md">
                <form method="post">
                    {% if error %}
                        <div
                            class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté(e) {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se
                                déconnecter</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           autocomplete="email" required minlength="5" maxlength="50">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-lg btn-primary mt-4 mb-5" type="submit">Se connecter</button>
                    <br>
                    <a href="">Mot de passe oublié</a>
                    <p>Pas encore de compte ?</p>
                    <a href="/register">Inscrivez-vous !</a>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
