{% extends 'base.html.twig' %}

{% block title %}Wild Sports{% endblock %}

{% block body %}
    {% include ('_includes/_cookie.html.twig') %}

    <!-- First section: front videos -->
    <div class="ws-home-carousel-container">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <video class="d-block w-100" src="videos/{{ carouselVideos[0].videoLink }}" alt="First slide"
                           style="filter: brightness(70%);"></video>
                    <div class="carousel-caption d-md-block" style="text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);">
                        <a href="/video/{{ carouselVideos[0].id }}" class="text-decoration-none">
                            <h4 class="fw-bold">COMPETITION</h4>
                            {% if carouselVideos[0].title|length > 20 %}
                                <h2>{{ carouselVideos[0].title|slice(0, 20) ~ '...' }}</h2>
                            {% else %}
                                <h2>{{ carouselVideos[0].title }}</h2>
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <video class="d-block w-100" src="videos/{{ carouselVideos[1].videoLink }}" alt="First slide"
                           style="filter: brightness(70%);"></video>
                    <div class="carousel-caption d-md-block" style="text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);">
                        <a href="/video/{{ carouselVideos[1].id }}" class="text-decoration-none">
                            <h4 class="fw-bold">COMPETITION</h4>
                            {% if carouselVideos[1].title|length > 20 %}
                                <h2>{{ carouselVideos[1].title|slice(0, 20) ~ '...' }}</h2>
                            {% else %}
                                <h2>{{ carouselVideos[1].title }}</h2>
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <video class="d-block w-100" src="videos/{{ carouselVideos[2].videoLink }}" alt="First slide"
                           style="filter: brightness(70%);"></video>
                    <div class="carousel-caption d-md-block" style="text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);">
                        <a href="/video/{{ carouselVideos[2].id }}" class="text-decoration-none">
                            <h4 class="fw-bold">COMPETITION</h4>
                            {% if carouselVideos[2].title|length > 20 %}
                                <h2>{{ carouselVideos[2].title|slice(0, 20) ~ '...' }}</h2>
                            {% else %}
                                <h2>{{ carouselVideos[2].title }}</h2>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span> <span
                    class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- End of first section -->

    <!-- Second section: videos by category -->
    <div class="ws-video-sections-container mb-5">
        <!-- Subsection matchs -->
        <div class="w-100 d-inline-flex justify-content-between align-items-center ws-header-video-container">
            <h4>MATCHS</h4>
        </div>
        <div class="ws-home-video-container no-scrollbar">
            {% for premiumVideo in premiumVideos %}
                <a href="/video/{{ premiumVideo.id }}" class="text-decoration-none">
                    <div class="ws-home-video-card">
                        <video src="videos/{{ premiumVideo.videoLink }}"
                               width="100%"
                               style="filter: brightness(50%);">
                        </video>
                        <div class="ws-home-match-title">
                            {% if premiumVideo.title|length > 20 %}
                                <p class="fw-bold">{{ premiumVideo.title|slice(0, 20) ~ '...' }}</p>
                            {% else %}
                                <p class="fw-bold">{{ premiumVideo.title }}</p>
                            {% endif %}
                            <!-- TO DO: change date by premiumVideo.createdAt -->
                            <p class="fw-bold">31 JAN 2023</p>
                            <button class="ws-blue-btn">Premium pass</button>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <!-- End of subsection -->

        <!-- Subsection category 1 -->
        <div class="w-100 d-inline-flex justify-content-between align-items-center my-3 ws-header-video-container">
            <h4>BASKETBALL</h4>
            <button class="ws-yellow-btn mb-3"><a href="/category/1" class="text-decoration-none">Voir plus</a></button>
        </div>
        <div class="ws-home-video-container no-scrollbar">
            {% for basketballVideo in basketballVideos %}
                <a href="/video/{{ basketballVideo.id }}" class="text-decoration-none">
                    <div class="ws-home-video-card">
                        <video class="ws-clip" muted style="max-height: 170px;"
                               src="videos/{{ basketballVideo.videoLink }}"
                               type="video/mp4" preload="metadata">
                        </video>
                        {% if basketballVideo.title|length > 30 %}
                            <p>{{ basketballVideo.title|slice(0, 30) ~ '...' }}</p>
                        {% else %}
                            <p>{{ basketballVideo.title }}</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
        <!-- End of subsection -->

        <!-- Subsection advertisement -->
        <div class="ws-home-ad-container">
            <img src="//via.placeholder.com/900x500/?text=ADVERTISEMENT" class="img-fluid">
        </div>
        <!-- End of subsection -->

        <!-- Subsection category 2 -->
        <div class="w-100 d-inline-flex justify-content-between align-items-center my-3 ws-header-video-container">
            <h4>FOOTBALL</h4>
            <button class="ws-yellow-btn mb-3"><a href="/category/2" class="text-decoration-none">Voir plus</a></button>
        </div>
        <div class="ws-home-video-container no-scrollbar">
            {% for footballVideo in footballVideos %}
                <a href="/video/{{ footballVideo.id }}" class="text-decoration-none">
                    <div class="ws-home-video-card">
                        <video class="ws-clip" muted style="max-height: 170px;"
                               src="videos/{{ footballVideo.videoLink }}"
                               type="video/mp4" preload="metadata">
                        </video>
                        {% if footballVideo.title|length > 30 %}
                            <p>{{ footballVideo.title|slice(0, 30) ~ '...' }}</p>
                        {% else %}
                            <p>{{ footballVideo.title }}</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}

        </div>
        <!-- End of subsection -->

        <!-- Subsection category 3 -->
        <div class="w-100 d-inline-flex justify-content-between align-items-center my-3 ws-header-video-container">
            <h4>SURF</h4>
            <button class="ws-yellow-btn mb-3"><a href="/category/3" class="text-decoration-none">Voir plus</a></button>
        </div>
        <div class="ws-home-video-container no-scrollbar">
            {% for surfVideo in surfVideos %}
                <a href="/video/{{ surfVideo.id }}" class="text-decoration-none">
                    <div class="ws-home-video-card">
                        <video class="ws-clip" muted style="max-height: 170px;"
                               src="videos/{{ surfVideo.videoLink }}"
                               type="video/mp4" preload="metadata">
                        </video>
                        {% if surfVideo.title|length > 30 %}
                            <p>{{ surfVideo.title|slice(0, 30) ~ '...' }}</p>
                        {% else %}
                            <p>{{ surfVideo.title }}</p>
                        {% endif %}
                    </div>
                </a>

            {% endfor %}
        </div>
        <!-- End of subsection -->
    </div>
    <!-- End of second section -->
    <script>
        const elements = document.querySelectorAll(".ws-home-video-container");

        elements.forEach(element => {
            <!-- MouseEvent -->
            element.addEventListener('wheel', (event) => {
                event.preventDefault();

                element.scrollBy({
                    left: event.deltaY < 0 || event.deltaX < 0 ? -100 : 100,
                });
            });
            <!-- TrackpadEvent -->
            element.addEventListener('gesturechange', (event) => {
                event.preventDefault();

                element.scrollBy({
                    left: event.deltaY < 0 || event.deltaX < 0 ? -50 : 50,
                });
            });
        });
        <!-- KeyBoardEvent -->
        document.addEventListener('keydown', (event) => {
            const focusedElement = document.activeElement;
            const isInputFocused = focusedElement && (focusedElement.tagName === 'INPUT' || focusedElement.tagName === 'TEXTAREA');

            if (!isInputFocused) {
                elements.forEach(element => {
                    if (event.key === 'ArrowLeft') {
                        event.preventDefault();
                        element.scrollBy({
                            left: -100,
                        });
                    } else if (event.key === 'ArrowRight') {
                        event.preventDefault();
                        element.scrollBy({
                            left: 100,
                        });
                    }
                });
            }
        });
    </script>

    <!-- chargement des videos asynchrone -->
    <script>
        const videos = document.querySelectorAll('video');
        videos.forEach(video => {
            video.addEventListener('mouseover', function () {
                if (video.readyState !== 4) {
                    video.load();
                }
            });
            video.addEventListener('mouseout', function () {
                this.pause();
            });
        });
    </script>
    <!-- play video à l'hover -->
    <script>
        const clip = document.querySelectorAll('.ws-clip');
        for (let i = 0; i < clip.length; i++) {
            clip[i].addEventListener('mouseover', function () {
                clip[i].play();
            });
            clip[i].addEventListener('mouseout', function () {
                clip[i].pause();
            });
        }
    </script>
{% endblock %}
