<nav class="navbar navbar-expand-md p-0 navbar-light bg-black fixed-top ws-navbar-color-height ">

    <div class="container-fluid align-items-center ">

        <div class="ws-navbar-logo">
            <a href="/">
                <img src="{{ asset('build/images/Logo-site-desktop.6173b503.svg') }}"
                     class="my-0 p-0 ws-logo-site-desktop"
                     alt="logo" width="135" height="auto">

                <img src="{{ asset('build/images/WildSports.7886eafc.png') }}"
                     class="my-0 p-0 ws-logo-site-mobile d-md-none"
                     alt="logo" width="135" height="auto">
            </a>

        </div>

        <button class="navbar-toggler ws-navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#navbarOffcanvasMd" aria-controls="navbarOffcanvasMd"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon ws-icon-toggler"></span>
        </button>

        <div class="offcanvas offcanvas-end ws-offcanvas-bg" tabindex="-1" id="navbarOffcanvasMd"
             aria-labelledby="navbarOffcanvasMdLabel">

            <div class="offcanvas-header">
                <h4 class="offcanvas-title m-0" id="offcanvasDarkNavbarLabel">Wild Sports</h4>

                <button type="button" class="btn-close btn-close-black " data-bs-dismiss="offcanvas" aria-label="Close">

                </button>
            </div>

            <div class="offcanvas-body ">
                <div class="d-flex w-100 align-items-center">

                    <ul class="navbar-nav mx-md-2 mx-lg-3  ws-navbar-link-color-black">

                        <li>
                            <a class="d-flex d-md-none text-black justify-content-start mt-0" href="/search/videos "><i
                                    class="fa fa-search fs-5 pe-2"></i> Recherche</a>
                        </li>
                        <li class="nav-item me-lg-2">
                            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                        </li>

                        <li class="nav-item dropdown  me-xxl-2">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">Catégories</a>

                            <ul class="dropdown-menu bg-black ws-navbar-dropdown-category">

                                {{ component('all_category') }}
                            </ul>
                        </li>


                        {% if app.user %}

                            <li class="nav-item me-xxl-2">
                                <a class="nav-link" href="#">Favoris</a>
                            </li>
                            <li class="nav-item me-xxl-2">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>

                        {% else %}

                            <li class="nav-item me-xxl-2">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item me-xxl-2">
                                <a class="nav-link text-nowrap" href="/premium">Pourquoi s'abonner</a>
                            </li>

                        {% endif %}


                    </ul>

                    {#                    <div class="d-flex w-100 justify-content-end"> #}
                    <ul class="navbar-nav text-nowrap w-100  justify-content-end ws-navbar-desktop ">

                        <a class="d-flex align-items-center me-md-1 me-lg-2 me-xl-3" href="/search/videos "><i
                                class="fa fa-search fs-5 "></i></a>
                        {% if app.user %}

                            <li class="nav-item dropdown me-5">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">{{ app.user.firstName }}
                                <img src="{{ asset('build/images/user.4da9742a.png') }}" alt="Logo de profil"></a>

                            <ul class="dropdown-menu dropdown-menu-start bg-black">
                                {% if is_granted("ROLE_ADMIN") and app.user %}
                                    <li><a class="dropdown-item" href="/admin">Administration</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="/profil">Mon compte</a></li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
                            </ul>

                        {% else %}
                            <li class="nav-item me-2">
                                <a class="nav-link active p-0 me-1" aria-current="page" href="/login">
                                    <button class="ws-black-btn">Se connecter</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 " href="/register">
                                    <button class="ws-blue-btn">S'enregistrer</button>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    {#                    </div> #}
                </div>

                <ul class="navbar-nav justify-content-start d-md-none ws-navbar-link-connexion-color-black">

                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/profil">
                                <img src="{{ asset('build/images/user.4da9742a.png') }}" alt="Logo de profil">
                                {{ app.user.firstName }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Se déconnecter</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">S'enregistrer</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</nav>
