{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="img-fluid ws-custom-login-bg-image">
        <section class="container">
            <div class="ws-custom-login-bg">
                <div class=" p-4 my-3" style="width: 45vh;"> //reprendre à partir d'ici
                    {% for flash_error in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}

                    <h1 class="text-center mb-4">S'inscrire</h1>

                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                    <fieldset class="mb-2 row">
                        {{ form_row(registrationForm.lastname, {'attr': {'class': 'form-control col-6 rounded-0 mb-1'}}) }}
                        {{ form_row(registrationForm.firstname, {'attr': {'class': 'form-control col-6 rounded-0 mb-1'}}) }}
                        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control col-6 rounded-0 mb-1'}}) }}
                        {{ form_row(registrationForm.date_of_birth, {'attr': {'class': 'form-control col-6 rounded-0 mb-1'}}) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        <br>
                        {{ form_row(registrationForm.RGPDConsent) }}
                    </fieldset>
                    <div class="text-center">
                        <button class="btn btn-primary mt-2 mb-5 rounded-0" type="submit">Créer un compte</button>
                    </div>
                    {{ form_end(registrationForm) }}

                    <div class="text-center">
                        <div class="mb-3">
                            <p>Déjà inscrit ?<a href="/login" class="text-decoration-none"><strong>
                                        S'identifier</strong></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}



