{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h1>S'inscrire</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                <fieldset class="mb-3">
                    <legend>Mon identité</legend>
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.date_of_birth) }}
                    {{ form_row(registrationForm.email) }}
                </fieldset>

                <fieldset class="mb-3">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}

                    {{ form_row(registrationForm.RGPDConsent) }}
                </fieldset>

                <button type="submit" class="btn btn-primary btn-lg my-3">Créer un compte</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
        <div>
            <p>Déjà inscrit ?</p>
                <a href="/login">S'identifier</a>
        </div>
    </section>


{% endblock %}
