{% extends 'base.html.twig' %}
{% block stylesheets%}{{ encore_entry_link_tags('app') }}{% endblock %}
{% block title %}Profile{% endblock %}

{% block body %}

    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1 class="ws-profil-title">Profile</h1>

    <h2>Mon abonnement</h2>
    <div class="ws-profil-form">
        {{ form_start(form) }}
        <div class="">
            <a href="{{ path('app_subscription') }}" class="btn btn-primary">Gérer mon abonnement</a>
        </div>
        <div class="">
            {{ form_row(form.Resilier_mon_abonnement) }}
        </div>
        <h2>Mon compte</h2>
        <div class="">
            {{ form_row(form.Email) }}
        </div>
        <div class="">
            {{ form_start(form) }}
            {# Champ de suppression #}
            <input type="submit" name="_method" value="DELETE" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')">
            {{ form_end(form) }}

        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
