{% extends 'base.html.twig' %}
{% block stylesheets%}{{ encore_entry_link_tags('app') }}{% endblock %}
{% block title %}Profil{% endblock %}

{% block body %}

    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1 class="ws-profil-title h3">Bienvenue {{ user.firstname }} {{ user.lastname }}</h1>

    <div class="ws-profil-information">
        <h2 class="ws-profil-titles">Mon abonnement</h2>

            <div class="ws-profil-form">

                <div>
                    <a href="{{ path('app_subscription') }}" class="btn ws-profil-underline">Gérer mon abonnement</a>
                </div>
            </div>

            <h2 class="ws-profil-titles">Mon compte</h2>

            <div id="ws-profil-mail">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn ws-mail-btn ws-profil-btn" onclick="return confirm('Êtes-vous sûr(e) de vouloir modifier votre adresse e-mail ?')">{{ button_label|default('Modifier') }}</button>
                {{ form_end(form) }}
            </div>
            </div>
    <div class="d-flex justify-content-center mt-4">
        <a href="{{ path('user_password_edit', {'id': user.id}) }}" class="btn ws-profil-underline d-flex justify-content-center mb-5">Modifier le mot de passe</a>
    </div>

    </div>
{% endblock %}
