{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    {% include ('_includes/_cookie.html.twig') %}

<div class="ws-home-carousel-container mb-5">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>

        {% if category.name == "Basketball" %}
            {% include ('categoryPage/_includes/categoryBasketball.html.twig') %}
        {% elseif category.name == "Football" %}
            {% include ('categoryPage/_includes/categoryFootball.html.twig') %}
        {% elseif category.name == "Surf" %}
            {% include ('categoryPage/_includes/categorySurf.html.twig') %}
        {% elseif category.name =="Tennis" %}
            {% include ('categoryPage/_includes/categoryTennis.html.twig') %}
        {% elseif category.name == "Volleyball" %}
            {% include ('categoryPage/_includes/categoryVolleyball.html.twig') %}
        {% endif %}

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        {% for video in category.videos %}
            {% if app.user is empty and video.isPremium is not empty %}
                <div class="col">
                    <a href="/video/{{ video.id }}"> <div class="card border-0 rounded-0 h-100 text-decoration-none" style="background-color: var(--secondary-color); color:white">
                        <div class="d-flex justify-content-center align-items-center mb-1">
                        <video src="/videos/{{ video.videoLink }}" class="card-img-top notPremiumVideoBlurred" style="max-height: 183px"></video>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="position-absolute bi bi-shield-lock-fill m-5" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z"></path>
                        </svg>
                        </div>
                        <div class="card-body mb-5">
                            <h5 class="card-title text-decoration-none" style="color: white">{{ video.title }}</h5>
                            <p class="card-text videoDescriptionOverflow text-decoration-none" >{{ video.description }}</p>
                        </div>
                    </div> </a>
                </div>
            {% else %}
            <div class="col d-grid">
                <div class="position-absolute" style="z-index: 99; justify-self: center; margin-top:10px; margin-left: 290px">
                    <a href="{{ path('app_like_video', {'id': video.id}) }}" class="" data-video-id="{{ video.id }}">
                        {% if is_granted('ROLE_USER') %}
                            {% if video in app.user.likes %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                    <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"></path>
                                </svg>
                            {% endif %}
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"></path>
                            </svg>
                        {% endif %}
                    </a>
                </div>
                <a class="ws-videoTitleColor" href="/video/{{ video.id }}"><div class="card border-0 rounded-0 h-100 text-decoration-none" style="background-color: var(--secondary-color)">
                <video src="/videos/{{ video.videoLink }}" class="card-img-top mb-1" style="max-height: 183px"></video>
                <div class="card-body">
                    <h5 class="videoTitleColor card-title text-decoration-none" style="color: white">{{ video.title }}</h5>
                    <p class="videoTitleColor card-text text-decoration-none">{{ video.description }}</p>
                </div>
            </div></a>
            </div>
        {% endif %}
        {% endfor %}
    </div>


{% endblock %}
