{% extends 'base.html.twig' %}

{% block title %}Favorite{% endblock %}

{% block body %}
    <h1>Favorite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ favorite.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ favorite.createdAt ? favorite.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_favorite_index') }}">back to list</a>

    <a href="{{ path('app_favorite_edit', {'id': favorite.id}) }}">edit</a>

    {{ include('favorite/_delete_form.html.twig') }}
{% endblock %}
